.hide{
	display: none;
}
.show{
	display: block;
}

.content-player {
	margin-bottom: 20px;
	overflow: hidden;
}
.content-player-top{
	overflow: hidden;
}

.photo{
	float: left;
	position: relative;
	height: 198px;
	width: 198px;
}
.photo img{
	width: 130px;
	height: 130px;
	margin: 34px;
}
.photo span{
	position: absolute;
	width: 206px;
	height: 205px;
	top: -4px;
	left: -4px;
	background: url('../coverall.png') no-repeat -140px -580px;
}
.player-control{
	position: relative;
	text-align: center;
	background-color: #242424;
	border-radius: 5px;
	margin-top: 20px;
	overflow: hidden;
}
.player-control .player-btn{
	margin: 5px 0;
}
.player-control .player-progress{
	position: relative;
	margin-top: 10px;
	overflow: hidden;
}
.player-control .player-progress .progress{
	position: relative;
	float: left;
	height: 10px;
	width: 545px;
	margin: 10px 20px;
	border-radius: 5px;
	background-color: #535353;
}
.player-control .player-progress .progress .progress-top{
	position: absolute;
	left: 0;
	top: 0;
	height: 10px;
	border-radius: 5px;
	background-color: red;
}
.player-control .player-progress .progress .slide{
	position: absolute;
	left: -10px;
	top: -5px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
}
.player-control .player-progress .progress .slide:hover{
	box-shadow: 0 0 1px 1px #e3e3e3;
}
.player-control .player-progress .progress .slide .slide-inner{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
	top: 5px;
	left: 5px;
	border-radius: 50%;
}
.player-control .player-progress .time{
	float: left;
	font-size: 12px;
	line-height: 29px;
	color: #d2d2d2;
}

.player-control button{
	background: none;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
}
.player-control .pre{
	height: 32px;
	width: 28px;
	background: url('../playbar.png') no-repeat -1px -125px;
}
.player-control .pre:hover{
	background-position: -31px -125px;
}
.player-control .play{
	height: 36px;
	width: 36px;
	margin: 0 10px;
	background: url('../playbar.png') no-repeat -1px -202px;
}
.player-control .play:hover{
	background-position: -41px -202px;
}
.player-control .pause{
	height: 36px;
	width: 36px;
	margin: 0 10px;
	background: url('../playbar.png') no-repeat -1px -163px;
}
.player-control .pause:hover{
	background-position: -41px -163px;
}
.player-control .next{
	height: 32px;
	width: 28px;
	background: url('../playbar.png') no-repeat -81px -125px;
}
.player-control .next:hover{
	background-position: -111px -125px;
}
.player-control .volume{
	position: absolute;
	right: 20px;
	height: 20px;
	width: 20px;
	margin-top: 9px;
	background: url('../playbar.png') no-repeat -6px -250px;
}
.player-control .volume:hover{
	background-position: -35px -250px;
}
.player-control .circulate{
	position: absolute;
	right: 50px;
	height: 20px;
	width: 20px;
	margin-top: 9px;
	background: url('../playbar.png') no-repeat -70px -250px;
}
.player-control .circulate:hover{
	background-position: -97px -250px;
}

.player{
	float: left;
	width: 414px;
	margin-left: 30px;
}
.player-title {
	
}
.player-title span{
	font-size: 27px;
	margin-left: 15px;
}
.player-title i{
	float: left;
	width: 54px;
	height: 24px;
	margin-top: 8px;
	background: url('../icon.png') no-repeat 0 -463px;
}
.player .singer{
	margin-top: 10px;
	font-size: 14px;
	color: #999;
}
.player .singer span{
	color: #0c73c2;
	cursor: pointer;
}

.player .handle{
	margin-top: 10px;
}
.player .handle button{
	font-size: 14px;
	color: #333;
	height: 30px;
	padding: 0 5px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 3px;
	background-color: #f1f1f1;
	border: 1px solid #c1c1c1;
}
.player .handle button:hover{
	border: 1px solid #a1a1a1;
}
.player .handle button i{
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-top: 3px;
}
.player .handle button i.collect{
	background: url('../icon.png') no-repeat -45px -110px;
}
.player .handle button i.share{
	background: url('../icon.png') no-repeat -45px -160px;
}
.player .handle button i.download{
	background: url('../icon.png') no-repeat -45px -110px;
}
.player .handle button i.comment{
	background: url('../icon.png') no-repeat -70px -682px;
}

.player .lyric{
	margin-top: 30px;
	font-size: 12px;
	line-height: 27px;
	color: #333;
}
.player .lyric .ctrl-more{
	background: none;
	border: none;
	color: #0c73c2;
	cursor: pointer;
}
.player .lyric .ctrl-more:hover{
	text-decoration: underline;
}
.ctrl, .more{
	display: inline-block;
	width: 11px;
	height: 8px;
	margin-left: 3px;
	margin-bottom: 1px;
}
.more{
	background: url('../icon.png') no-repeat -65px -520px;
}
.ctrl{
	background: url('../icon.png') no-repeat -45px -520px;
}