.hide{
	display: none;
}
.show{
	display: block;
}

.content-player {
	margin-bottom: 20px;
	overflow: hidden;
}

.photo{
	float: left;
	position: relative;
	height: 198px;
	width: 198px;
}
.photo img{
	width: 130px;
	height: 130px;
	margin: 34px;
}
.photo span{
	position: absolute;
	width: 206px;
	height: 205px;
	top: -4px;
	left: -4px;
	background: url('../coverall.png') no-repeat -140px -580px;
}
.photo .player-btn{
	text-align: center;
	background-color: #242424;
	border-radius: 5px;
	margin-top: 20px;
	height: 40px;
}
.photo .player-btn .pre,.play,.next,.pause{
	background: none;
	border: none;
	text-indent: -9999px;
}
.photo .player-btn .pre{
	height: 32px;
	width: 28px;
	background: url('../playbar.png') no-repeat -1px -125px;
}
.photo .player-btn .pre:hover{
	background: url('../playbar.png') no-repeat -31px -125px;
}
.photo .player-btn .play{
	height: 36px;
	width: 36px;
	margin: 0 10px;
	background: url('../playbar.png') no-repeat -1px -202px;
}
.photo .player-btn .play:hover{
	background: url('../playbar.png') no-repeat -41px -202px;
}
.photo .player-btn .pause{
	height: 36px;
	width: 36px;
	margin: 0 10px;
	background: url('../playbar.png') no-repeat -1px -163px;
}
.photo .player-btn .pause:hover{
	background: url('../playbar.png') no-repeat -41px -163px;
}
.photo .player-btn .next{
	height: 32px;
	width: 28px;
	background: url('../playbar.png') no-repeat -81px -125px;
}
.photo .player-btn .next:hover{
	background: url('../playbar.png') no-repeat -111px -125px;
}

.player{
	float: left;
	width: 414px;
	margin-left: 30px;
}
.player-title {
	
}
.player-title span{
	font-size: 27px;
	margin-left: 15px;
}
.player-title i{
	float: left;
	width: 54px;
	height: 24px;
	margin-top: 8px;
	background: url('../icon.png') no-repeat 0 -463px;
}
.player .singer{
	margin-top: 10px;
	font-size: 14px;
	color: #999;
}
.player .singer span{
	color: #0c73c2;
	cursor: pointer;
}

.player .handle{
	margin-top: 10px;
}
.player .handle button{
	font-size: 14px;
	color: #333;
	height: 30px;
	padding: 0 5px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 3px;
	background-color: #f1f1f1;
	border: 1px solid #c1c1c1;
}
.player .handle button:hover{
	border: 1px solid #a1a1a1;
}
.player .handle button i{
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-top: 3px;
}
.player .handle button i.collect{
	background: url('../icon.png') no-repeat -45px -110px;
}
.player .handle button i.share{
	background: url('../icon.png') no-repeat -45px -160px;
}
.player .handle button i.download{
	background: url('../icon.png') no-repeat -45px -110px;
}
.player .handle button i.comment{
	background: url('../icon.png') no-repeat -70px -682px;
}

.player .lyric{
	margin-top: 30px;
	font-size: 12px;
	line-height: 27px;
	color: #333;
}
.player .lyric .ctrl-more{
	background: none;
	border: none;
	color: #0c73c2;
	cursor: pointer;
}
.player .lyric .ctrl-more:hover{
	text-decoration: underline;
}
.ctrl, .more{
	display: inline-block;
	width: 11px;
	height: 8px;
	margin-left: 3px;
	margin-bottom: 1px;
}
.more{
	background: url('../icon.png') no-repeat -65px -520px;
}
.ctrl{
	background: url('../icon.png') no-repeat -45px -520px;
}